<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
    <header>
        <!--https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application-fr-->
        <%-include('../../partials/header') -%>
    </header>
    <main>
        
    </main>
    <footer>
        <%-include('../../partials/footer') -%>
    </footer>
</body>
</html>