<nav>
    <ul>
        <li><a href="/"class="logo">LOGO</a></li>
        <li><a href="#">CONTENT 1</a></li>
        <li><a href="#">CONTENT 2</a></li>
    </ul> 
    <button class="signIn"><a href="/signIn">Sign Up/Log In</a></button>
</nav>